{% extends "base.html" %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}" />

<h1>Contact Form</h1>
<hr>

<div><p>Fill in this form to contact the site owners</p></div>

<form action="{{ url_for('contact') }}" method="post">
  
   <div>
        <label for="name">Name </label><p class='alert'>(Required)</p>
        <p>Please enter your full name</p>
        <input type="text" id="name" name="name"/>  
   </div>
   <div>
        <label for="mail">E-mail </label><p class='alert'>(Required)</p>
        <p>Please enter your e-mail address</p>
        <input type="email" id="mail" name="email"/>    
   </div>
   <div>
        <label for="mail">Subject </label><p class='alert'>(Required)</p>
        <p>Please enter the subject for your message</p>
        <input type="text" id="subject" name="subject"/>    
   </div>
   <div>
         <label for="msg">Message </label><p class='alert'>(Required)</p>
         <p>Please enter the message you would like to send</p>
         <textarea id="msg" name="message"></textarea>    
   </div>
   <br>
   <button type="submit">Send</button>
</form>

{% endblock %}